.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-inline: 2.3vw;

  /* contains the user profile image and shopping cart */
  .userInformation {
    display: flex;
    align-items: center;
    gap: 0 1.4rem;
  }

  /* shopping cart */
  .shoppingCart {
    cursor: pointer;
  }
}
